<div class="container" style="padding: 20px;">
   <h1 class="mb-3">Calcular Custos de Transporte</h1>
   <form class="form-horizontal" role="form" novalidate>  
      <div class="form-group">        
        <label for="contain">Distância em Rodovia Pavimentada</label>
        <input class="form-control" [(ngModel)]="distanceOnPavedHighway" value={{distanceOnPavedHighway}} type="text" maxlength="50" [ngModelOptions]="{standalone: true}">         
      </div>
      <div class="form-group">        
        <label for="contain">Distância em Rodovia Não Pavimentada</label>
        <input class="form-control" [(ngModel)]="distanceOnUnpavedHighway" type="text" maxlength="50" [ngModelOptions]="{standalone: true}">      
      </div>
      <div class="form-group">
          <label for="contain">Veículo Utilizado</label><br/>
          <ng-container *ngFor="let vehicleUsed of vehiclesUsed">
            <label class="radio-inline"><input type="radio" name="vehicleUsed" value="{{vehicleUsed.value}}" (click)="selectVehicleUsed(vehicleUsed.value)"> {{vehicleUsed.description}} </label>&nbsp;
          </ng-container>
      </div>
      <div class="form-group">
        <label for="contain">Carga Transportada</label>
        <input class="form-control" type="text" [(ngModel)]="freightCarried" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="contain">Custo do Transporte</label>
        <input class="form-control" type="text" [(ngModel)]="calculationResult" [ngModelOptions]="{standalone: true}" [readonly]="true">
      </div>
      <button type="submit" class="btn btn-primary" (click)="calculatesTransportationCost()" style="cursor: pointer;">
        <span class="glyphicon glyphicon-search" aria-hidden="true">Calcular</span>
      </button>      
      <br/>
    </form>    
</div>
